* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Terminus;
    font-size: 10px;
}

window#waybar {
    background-color: #000000;
    border-bottom: 0px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    padding: 0 1px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.focused {
    background-color: #005e75;
    box-shadow: inset 0 -3px #ffffff;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#sway.language
#pulseaudio
#clock
#tray {
	background-color: #000000;
	color:            #ffffff;
}
